@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
/* background-image: linear-gradient(90deg, #cff800 10%, #cff800 65%, #ddfa4c 100%); */
/* background-image: linear-gradient(45deg,  #bfdbfe 0%, #dbeafe 100%); */
font-family: 'Prompt', sans-serif;

}


header a:hover{
/* color: #404040; */
color:#ffffff7e;
}

footer{
position: relative;
}

.gradient-blue {
--tw-bg-opacity: 1;
background-image: linear-gradient(45deg, #60a5fa 0%, #3b82f6 100%);
}

.gradient-light-blue {
--tw-bg-opacity: 1;
background-image: linear-gradient(45deg,  #bfdbfe 0%, #dbeafe 100%);
}

.gradient-black {
background-image: linear-gradient(45deg,#141414 0%, #070707  100%);
}

.gradient-green {
    background-image: linear-gradient(90deg, #cff800 5%, #cff800 60%, #ddfa4c 100%);
}

#togglerOn,
#togglerOff {
    color: #161616;
}
#togglerOn:hover,
#togglerOff:hover {
    color: #303030;
}
a,
button,
.card {
    transition: all 0.3s ease-out;
}

#blog,
#reviews,
#about,
#products{
    background-attachment: scroll;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#blog {
    background-image: url("./assets/bg-1.png");
}
#reviews,
#products{
    background-image: url("./assets/bg-2.png");
}
#about{
    background-image: url("./assets/bg-3.png");
}

strong{
    color: #303030;
}

  
@keyframes slideDown {
    0% { 
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(0);
    }
}

@keyframes slideUp {
    0% { 
      transform: translateY(30%);
    }
    100% {
      transform: translateY(0);
    }
}

#navbar-list{
    animation: slideDown 300ms ease-in-out;
}

#modal-card{
    animation: slideUp 300ms ease-in-out;
}

a {
    cursor: pointer;
}